{% extends 'frontoffice/footer.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <div class="fullDiv">
        <div class="container marginDiv">
            <div class="col-xs-12 col-sm-offset-1 col-md-offset-1col-sm-10 col-md-10 col-xl-8 text-left">
                <div class="article">
                    <h1 class="text-center">Quels moyens de paiement utilisé pour régler mes achats ?</h1>
                    <div class="text-left">
                        <p>Nous vous offrons un grand choix de modes de paiement, vous trouverez sûrement celui que vous préférez !
                        </p>
                        <p>Une autre bonne nouvelle ? Le prélèvement sur votre compte s'effectue non pas le jour de votre commande mais au fur et à mesure de l'expédition de vos articles, donc pas de mauvaise surprise !
                        </p>
                        <h3>Cartes bancaires</h3>
                        <p>L’amour food accepte toutes les cartes bancaires suivantes :</p>
                        <ul>
                            <li>La Carte bleue, Visa, Mastercard et Eurocard
                            </li>
                            <li> L’e-carte bleue
                            </li>
                        </ul>

                        <p>Confortablement installé dans votre canapé, sur votre smartphone dans les transports en commun, où que vous soyez, vous trouvez ennuyeux de devoir sortir votre carte pour régler votre commande ? L’amour food vous simplifie la vie : lors de votre prochaine commande, enregistrez vos données bancaires pour bénéficier de l’achat en 1 clic à l’étape paiement.
                        </p>
                        <p>Nous vous rassurons, vos données sont sécurisées : le serveur est crypté et les informations véhiculées sont codées. Bref, rien ne transite en clair sur le site.
                        </p>

                        <h3>PayPal
                        </h3>

                        <p>Lors de votre commande, c’est très simple : sélectionnez le mode de paiement PayPal.
                        </p>

                        <p>Vous êtes alors redirigé vers votre compte PayPal. Il suffit de vous identifier (ou de créer votre compte) et de valider votre paiement.
                        </p>

                        <p>Une fois celui-ci accepté, vous revenez automatiquement sur lamourfood.fr pour terminer votre commande.
                        </p>
                        <p>Vous voulez encore gagner du temps ? Utilisez le service « L’achat en 1 clic » !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
