<div class="home_pop">

<h4>Trouvez votre point relais</h4>

<img src="{{ asset('img/point_relais.jpg') }}">

<input type="text" id="input" placeholder="Entrez une adresse">
<div class="popup_home">  
    <button href="#" id="button">Valider</button>
</div>

<div class="results" data-url="{{ path('point_relais_results', {'adresse': '_adresse_'}) }}"></div>

</div>
<script>
    if(document.querySelector('.relais_check'))
    {
        document.querySelector('.bcr').style.border = "1px solid black";
    }

    $('#button').on('click', function(){
        const url = $(".results").data('url');
        var adresse = $('#input').val();
        adresse = adresse.replace(/ /g, '%20');
        $('.results').load(url.replace(/_adresse_/, adresse));
    })

    $('#input').keypress(function(e) {
        if(e.which == 13) {
            const url = $(".results").data('url');
            var adresse = $('#input').val();
            adresse = adresse.replace(/ /g, '%20');
            $('.results').load(url.replace(/_adresse_/, adresse));
        }
    });
</script>