{% extends 'frontoffice/footer.html.twig' %}

{% block body %}
    <div class="fullDiv">
        <div class="container marginDiv">
            <div class="col-xs-12 col-sm-offset-1 col-md-offset-1col-sm-10 col-md-10 col-xl-8 text-left">
                <div class="article">
                    <h1 class="text-center">Pour les produits, pas de compromis seule la qualité importe.</h1>
                    <div class="text-left">
                        <p>
                            L'origine de nos produits est strictement contrôlée ! Les exigences du Chef sont fortes en la matière. Il n'accepte aucun compromis !
                        </p>

                        <p>
                            C'est la façon dont les légumes et les fruits sont cultivés jusqu'à maturité, la manière dont les poissons sont pêchés, et l'origine dont les viandes sont issues qui sont tout spécialement surveillés.
                        </p>

                        <p>LLa première condition nécessaire à l'élaboration d'une cuisine bistronomique de qualité impose que Jérémie soit sûr de la fraîcheur des composants qu'il utilise. C'est tous les jours et pour certains produits 2 fois dans la journée que les livraisons s'organisent.</p>

                        <p>Une fois s'être assuré de la fraîcheur des aliments, le Chef Bénédicte s'approvisionne auprès de producteurs avec lesquels il a établi une relation privilégiée fondée sur le respect et la confiance mutuels.</p>

                        <p>Cela lui garantit un approvisionnement d'une qualité parfaite, de la meilleure origine. Le chef Bénédicte n'hésitera pas à modifier la carte pour maintenir le haut niveau de fraîcheur et de qualité des produits qu'il utilise chaque jour pour préparer les plats proposés à la carte et au menu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
