{% extends ":frontoffice:footer.html.twig" %}

{% block title %}
    Erreur 404
{% endblock %}

{% block body %}
<div class="container">
    <div style="float: left;margin-top: 75px;">
        <h1 style="font-size: 130px;font-weight: bold;color:#4A4A4A;">Oops <span class="roseColor">!</span></h1>
        <h4>Nous n'avons pas trouvé la page rechercher.</h4>
        <p>Erreur 404</p>
    </div>
    <img style="float:right;margin-top: 75px;" src="{{ asset('img/404.jpg') }}">
</div>
{% endblock %}
