{% extends 'base.html.twig' %}
{% block menuAdmin %}
    <aside>

        <ul>
            <li><a>Tableau de board</a></li>
            <li><a>Categories</a></li>
            <li><a>Produits</a></li>
            <li><a>Boutiques</a></li>
            <li><a>Offres promo</a></li>
            <li><a>Articles</a></li>
            <li><a>Commandes du site</a></li>
            <li><a>Stock</a></li>
            <li><a>Livraison</a></li>
            <li><a>Préférences système</a></li>


        </ul>
    </aside>
{% endblock %}