{% extends 'base.html.twig' %}

{% block body %}
    <section>

        {% block categories %}
            {% for categorie in categories %}
                <a href="{{ path('categorie_show',{'id': categorie.id})}}"><p>{{categorie.nom}}</p></a>
                {% if categorie.image != "" %}
                    <img src=" {{ asset('categories/' ~ categorie.image ) }} " style="width: 10%; height: auto"></img>
                {% endif %}
            {% endfor %}
        {% endblock %}

        {% block produits %}{% endblock %}
    </section>
{% endblock %}