{% extends 'base.html.twig' %}

{% block body %}

	<a href="{{ path('fos_user_security_login') }}"><h2>Login</h2></a><br>
	<a href="{{ path('fos_user_registration_register') }}"><h2>S'inscrire</h2>
	<a href="{{ relative_path('/admin') }}"><h2>Admin backoffice</h2>
	<a href="{{ relative_path('/profile') }}"><h2>Profile</h2>


{% endblock %}

{% block stylesheets %}

{% endblock %}
