{% extends 'base.html.twig' %}

{% block body %}
    <header>

	</header>

	<content>

		<section>

			<img src="img/logo_CMS.png">

			<div id="login">
				<div>
					<label>Identifiant</label>
					<input type="email" required></input>
				</div>

				<div>
					<label>Mot de passe</label>
					<input type="password" required></input>
				</div>

				<div class="error">
					<p></p>
				</div>

				<button>SE CONNECTER</button>
			</div>
			
			<a href="mdp.html" id="password_recover">Mot de passe oublié ?</a>

		</section>

	</content>


	<footer>

	</footer>




	<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>


{% endblock %}

{% block stylesheets %}

{% endblock %}
