{% extends 'menuAdmin.html.twig' %}

{% block body %}
    <section>
        <h1>Categorie : {{categorie.nom}}</h1>
        <a class="btn_01" href="{{path('admin_categorie_index')}}">Retour</a>
        <div class="cellule_background_cms">
            <h3>Description :</h3>
            {{categorie.description}}
        </div>
    </section>
{% endblock %}
