{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div id="content_site" class="c_s_center">

        <img src="{{ asset('img/picto_succes.svg') }}"><br/>
        <span class="content_site_title">Bienvenue</span>
        <h1>Votre compte vient d'être créer</h1>

        <a href="{{ path('homepage') }}" class="btn_01">Commandez pour ce-midi</a>

    </div>
{% endblock fos_user_content %}
