{% extends 'backoffice/menuAdmin.html.twig' %}

{% block body %}

    <section class="dashboard" style="width:70%;">
        <h1>Tableau de bord</h1>
        <div class="dashboardCommande">
            <h4 class="dashboardTitre">Commande du jour<span class="dashboardNbCommande">{{ commandeJour|length }}</span></h4>
            {% for cd in commandeJour %}
                {% if lopp.index <4 %}
                    <p>{{ cd.user.nom }} {{ cd.user.prenom }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="dashboardRevenu">
            {% for c in commandeMois %}
                {{ c.prix }}
            {% endfor %}
        </div>
    </section>
{% endblock %}
