{% trans_default_domain 'FOSUserBundle' %}


<div id="content_site" class="c_s_center">
    <h1>Modification de votre mot de passe</h1>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>
