{% extends 'frontoffice/base.html.twig' %}

{% block body %}
    <h1>hey voici la commande et les options de localisation + de paiement</h1>
    <div>
        <a href="{{ path('commande_succes') }}" class="btn btn-info btn-small"  >Valider ma commande</a>
    </div>
{% endblock %}