
{% for point in pointsRelais %}
    <p>
        <input type="checkbox" class="relais_check" name="pointRelais" value="{{ point.id }}" {% if loop.index == 1 %}checked{% endif %}>
        <div>
            <h4>{{ point.nom }}</h4>
            <p>{{ point.adresse }}</p>
        </div>
    </p>
{% endfor %}

{% if pointsRelais == [] %}
    Aucun point relais trouvé pour cette adresse
    <script>
            document.cookie = 'pointRelais=';
    </script>
{% else %}
    <div class="message"></div>
{% endif %}


<script>
    $( "input" ).on( "click", function() {
        const id = $( "input:checked" ).val();
        document.cookie = 'pointRelais=' + id;
    });
</script>

