
{% for point in pointsRelais %}
    <div>
        <p>
            <input type="radio" class="relais_check" name="pointRelais" value="{{ point.id }}" {% if loop.index == 1 %}checked{% endif %}>
            <div class="relais_infos">
                <h4>{{ point.nom }}</h4>
                <p>{{ point.adresse }}</p>
            </div>
        </p>
    </div>
{% endfor %}

{% if pointsRelais == [] %}
    Aucun point relais trouvé pour cette adresse
    <script>
            document.cookie = 'pointRelais=';
    </script>
{% else %}
    <div class="message"></div>
{% endif %}


<script>
    $( "input" ).on( "click", function() {
        const id = $( "input:checked" ).val();
        document.cookie = 'pointRelais=' + id;
    });

    $('.relais_check').on('click', function (f) {
        if ($(this).is(':checked')) {
            document.querySelector('.choix_relais').style.border = "2px solid #e52c65";
        }
        else 
        {
            document.querySelector('.choix_relais').style.border = "0";
        }
    });
</script>

