body {
  color: #929292 !important;
  font-family: "Roboto", sans-serif !important;
  background-color: #f7f8fa !important; }

body .row {
  margin-right: 0px;
  margin-left: 0px; }

body .glyphicon-star {
  color: yellow; }

body .plat-actu {
  padding-bottom: 35px; }

body input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #ccc;
  margin: 4px 4px 4px; }

body input[type="checkbox"]:checked {
  position: relative; }

body input[type="checkbox"]:checked:before {
  font-family: FontAwesome;
  content: '\f00c';
  display: block;
  color: grey;
  font-size: 13px;
  position: absolute; }

body .navbar {
  margin: 0 !important;
  border: none;
  background: #ffffff; }

@media screen and (max-width: 767px) {
  body .navbar {
    padding: 0 12px 0 12px; } }
body .navbar .container-fluid {
  padding-left: 200px;
  padding-right: 200px; }

@media screen and (max-width: 1268px) {
  body .navbar .container-fluid {
    padding-left: 0px;
    padding-right: 0px; } }
@media (max-width: 868px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
body .navbar .container-fluid .navbar-header img {
  width: 200px;
  height: 60px; }

body .navbar .container-fluid .collapse {
  width: 980px; }

@media screen and (min-width: 768px) {
  body .navbar .container-fluid .collapse {
    width: 100%; } }
body .navbar .container-fluid .collapse ul {
  padding-top: 5px; }

body .navbar .container-fluid .collapse ul li .nav-connexion {
  border: 2px solid #e52c65;
  border-radius: 5px;
  padding: 5px;
  margin-top: 8px; }

body .navbar .container-fluid .collapse ul li .nav-deconnexion {
  margin-left: 10px; }

body .navbar .container-fluid .collapse ul .nav-panier {
  display: inline-flex; }

body .navbar .container-fluid .collapse ul .nav-panier a {
  padding: 2px 0 0 0 !important; }

body .navbar .container-fluid .collapse ul .nav-panier a img {
  margin: 0 8px 5px 0;
  width: 20px;
  height: 45px; }

body .row.home {
  max-width: 100%; }

.Bandeau {
  background-image: url("../img/image_background.jpg");
  width: 100%;
  height: 582px;
  padding: 150px 250px 150px 250px;
  text-align: center;
  color: #ffffff; }
  .Bandeau p {
    font-size: 24px; }
  .Bandeau h1 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold; }
  .Bandeau span {
    font-size: initial; }
  .Bandeau div {
    padding-top: 40px; }
    .Bandeau div a {
      white-space: nowrap;
      padding: 12px 35px 12px 35px;
      color: #ffffff;
      background-color: #ea6878;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      margin-top: 54px;
      margin-right: 28px; }
    .Bandeau div a:hover {
      background-color: #f50f65; }
  @media screen and (max-width: 980px) and (min-width: 150px) {
    .Bandeau {
      padding: 2px !important; } }

body .row.relais {
  max-width: 100%; }

body .row.relais .point_relais {
  height: 220px;
  padding-left: 300px;
  padding-right: 300px;
  border-bottom: 1px solid #96acc1;
  border-top: 1px solid #96acc1;
  margin-top: 125px !important; }

body .row.relais .point_relais img {
  position: absolute;
  bottom: 50px; }

body .row.relais .point_relais div {
  padding: 50px 0 0 255px; }

body .row.relais .point_relais div input {
  width: 245px;
  height: 35px;
  background-color: #9b9b9b;
  border: none;
  border-radius: 5px; }

@media screen and (max-width: 1024px) {
  body .row.relais .point_relais {
    margin-top: 160px !important;
    padding: 0 !important; }

  body .row.relais .point_relais div {
    padding: 15px 0 0 170px !important; }

  body .row.relais .point_relais div input {
    width: 145px; } }
body .header {
  background-color: #c9d2db;
  height: 150px; }

body .header ul {
  list-style: none;
  display: inline-flex;
  position: relative;
  float: right;
  padding-right: 50px;
  padding-top: 20px; }

body .header ul li {
  height: 35px;
  width: 120px;
  padding: 5px; }

body .header ul li a {
  color: #708ca4; }

body .header ul li:last-child {
  border: 1px solid #708ca4;
  border-width: 3px;
  border-radius: 5px; }

body .nav ul {
  display: flex;
  list-style: none;
  padding-left: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #929292; }

body .nav ul li {
  padding-right: 4px; }

body .nav ul li:last-child {
  font-weight: 600; }

body .desc_prod {
  padding-left: 30px; }

body .desc_prod .produit_nom {
  margin-top: 0; }

body .desc_prod .produit_aller {
  font-weight: 700;
  text-decoration: underline; }

body .desc_prod .produit_aller:hover {
  cursor: pointer; }

body .desc_prod .produit_prix {
  margin: 0;
  margin-top: 20px;
  text-decoration: line-through; }

body .desc_prod .produit_prix_solde {
  font-size: 21px;
  font-weight: 700; }

body .desc_prod .produit_quantite {
  width: 60px;
  height: 32px;
  padding-left: 10px;
  margin-bottom: 15px;
  border: 2px solid #95abc0;
  border-radius: 5px; }

body .desc_prod .produit_ajout {
  margin-left: 20px;
  padding: 7px 25px 7px 25px;
  background-color: #95abc0;
  color: white;
  border: none;
  border-radius: 5px; }

body .desc_prod .produit_stock {
  font-size: 8px;
  color: green; }

body .desc_prod .produit_stock .fa.fa-circle {
  margin-right: 5px; }

body .desc_prod .produit_info {
  padding: 30px; }

body .desc_prod .produit_info .fa-map-marker {
  font-size: 35px;
  float: left;
  margin-right: 10px; }

body .desc_prod .produit_info .near {
  width: 160px;
  margin: 0;
  float: left;
  font-size: 13px; }

body .desc_prod .produit_info .fa-shopping-bag {
  font-size: 35px;
  margin-left: 25px;
  margin-right: 10px; }

body .desc_prod .produit_info .free-ship {
  font-size: 13px; }

body .produit_nav {
  border-bottom: 1px solid #929292;
  height: 40px; }

body .produit_nav ul {
  list-style: none;
  display: flex;
  padding-left: 0; }

body .produit_nav ul li {
  padding: 10px 25px 8px 25px;
  margin-right: 45px;
  font-weight: 600; }

body .produit_nav ul li:hover {
  cursor: pointer; }

body .produit_nav ul .active {
  border: 1px solid #929292;
  border-bottom: 1px solid white;
  border-radius: 5px 5px 0 0; }

body .content_nav {
  padding-top: 40px; }

body .content_nav h5 {
  font-weight: 600; }

body .menu_choix {
  float: none;
  clear: both;
  width: 100%;
  margin: 0 auto; }

body .menu_choix h5 {
  text-align: center;
  margin-bottom: 25px; }

body .menu_choix h4 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #4a4a4a; }

body .menu_choix .partenaire-title {
  padding-top: 50px !important; }

body .menu_choix .search_bloc {
  text-align: center;
  margin-bottom: 25px; }

body .menu_choix .search_bloc input {
  width: 275px;
  height: 35px;
  background-color: #919db9;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  color: white; }

body .menu_choix .search_bloc input::after {
  content: '&#xf002'; }

body .menu_choix .search_bloc ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff; }

body .menu_choix .search_bloc :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1; }

body .menu_choix .search_bloc ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1; }

body .menu_choix .search_bloc :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff; }

body .menu_choix .position_plat {
  float: left; }

body .menu_choix .position_plat .reduction {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #f50f65;
  border-radius: 30px;
  right: 20px;
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
  color: white;
  margin-top: 15px; }

body .menu_choix .position_plat .plus_dispo {
  text-align: center;
  color: #f50f65;
  font-weight: bold;
  height: 50vh;
  position: absolute;
  margin-top: 38vh;
  transform: translateY(-50%); }

body .menu_choix .position_plat .livraison_menu {
  text-align: center;
  padding-top: 20px; }

body .menu_choix .position_plat .livraison_menu i {
  background-color: #919db9;
  color: white;
  padding: 20px 45px 20px 45px;
  text-align: center;
  vertical-align: text-top;
  border-radius: 100px;
  font-size: 125px; }

body .menu_choix .position_plat .livraison_menu .fa-building-o {
  padding: 30px 45px 30px 45px; }

body .menu_choix .position_plat .livraison_menu h4 {
  float: none !important; }

body .menu_choix .position_plat .livraison_menu p {
  max-width: initial; }

body .menu_choix .position_plat .livraison_menu a {
  background-color: #919db9;
  float: none;
  position: initial; }

body .menu_choix .dessert {
  width: 310px;
  height: 360px;
  border-radius: 5px;
  box-shadow: 1px 0px 5px;
  position: relative;
  margin-left: 25px;
  margin-bottom: 40px; }

body .menu_choix .dessert .plat-fav {
  position: absolute;
  width: 20px;
  height: auto;
  background-color: transparent;
  border-radius: 0px;
  left: 20px;
  cursor: pointer; }

body .menu_choix .dessert a:first-child {
  float: none;
  background-color: transparent;
  bottom: 0;
  right: 0;
  padding: 0; }

body .menu_choix .dessert .plat-pic {
  width: 310px;
  height: 200px;
  background-color: #95abc0;
  border-radius: 6px 6px 0px 0px; }

body .menu_choix .dessert .plat-pic.indispo {
  opacity: 0.5; }

body .menu_choix .dessert a {
  float: right;
  position: relative;
  bottom: 12px;
  background-color: #f50f65;
  right: 25px;
  color: white;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  text-decoration: none; }

body .menu_choix .dessert .ajout_reco {
  float: right;
  margin-right: 20px;
  position: relative;
  bottom: 15px;
  padding: 5px 12px 5px 12px;
  background: #d0d0d0;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer; }

body .menu_choix .dessert div {
  padding-left: 5px; }

body .menu_choix .dessert div .type, body .menu_choix .dessert div p {
  float: left;
  max-width: 225px;
  clear: both; }

body .menu_choix .dessert div h4 {
  float: left;
  clear: both;
  font-size: 17px;
  font-weight: 600; }

body .menu_choix .dessert div .prix {
  float: right;
  font-weight: 600;
  padding-top: 7px;
  padding-right: 10px; }

body .menu_choix .dessert div .prix .fa.fa-circle {
  color: #18b118;
  font-size: 10px;
  margin-right: 20px; }

body .menu_choix .dessert div .prix .fa.fa-circle.rouge {
  color: red !important; }

body .menu_choix .dessert div .prix_promo {
  float: right;
  padding-right: 10px;
  text-decoration: line-through;
  font-size: 12px;
  bottom: 10px;
  position: relative; }

body .menu_choix .dessert .actu-choix {
  padding-left: 7px; }

body .menu_choix .dessert .actu-choix span {
  float: left;
  max-width: 294px;
  clear: both;
  font-size: 13px; }

body .menu_choix .dessert .actu-choix h4 {
  float: left;
  clear: both;
  font-size: 16px;
  font-weight: 600; }

body .menu_choix .dessert .actu-choix p {
  float: left;
  max-width: 294px;
  clear: both;
  font-size: 13px; }

body .menu_choix .dessert .actu-choix a {
  float: left;
  position: relative;
  top: 8px;
  background-color: #f50f65;
  left: 15px;
  color: white;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  text-decoration: none; }

body .menu_choix .partenaires {
  margin-left: 12%;
  margin-right: 12%; }

body .menu_choix .partenaires ul {
  list-style: none;
  display: inline-flex;
  margin-top: 25px; }

body .menu_choix .partenaires ul li img {
  width: 150px;
  height: auto;
  margin-right: 35px; }

body .menu_choix .infographie ul {
  list-style: none; }

body .menu_choix .infographie ul li:first-child {
  display: inline-block;
  text-align: center; }

body .menu_choix .infographie ul li:nth-child(2), body .menu_choix .infographie ul li:nth-child(4) {
  text-align: center; }

body .menu_choix .infographie ul li:nth-child(3) {
  float: right;
  text-align: center; }

body .menu_choix .infographie ul li:nth-child(4) {
  text-align: center;
  clear: both; }

body .menu_choix .infographie ul li:last-child {
  clear: both;
  float: left;
  text-align: center; }

body .menu_choix .infographie ul li:last-child p {
  clear: both; }

@media screen and (max-width: 980px) and (min-width: 150px) {
  body .menu_choix .dessert1 {
    right: 0; }

  body .menu_choix .dessert2 {
    left: 0;
    top: 35px; }

  body .menu_choix .dessert3 {
    left: 0;
    top: 70px; }

  body .menu_choix .dessert1, body .menu_choix .dessert2, body .menu_choix .dessert3 {
    float: none;
    margin-left: 23%; }

  body .menu_choix .infographie li {
    text-align: center; }

  body .menu_choix .infographie li img {
    float: none !important; }

  body .menu_choix .plat-actu .menu_choix .dessert2 {
    top: 30px; }

  body .menu_choix .plat-actu .menu_choix .dessert3 {
    top: 60px; }

  body .menu_choix .partenaires ul {
    display: block;
    text-align: center; } }
body .retour_haut {
  position: absolute;
  right: 130px;
  background-color: #95abc0;
  color: white;
  width: 45px;
  height: 45px;
  padding: 13px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer; }

.bg-grey {
  margin-top: 40px;
  position: relative;
  background-color: #ffffff;
  max-width: none;
  border-top: 3px solid #f32063; }
  .bg-grey .infos_footer h2 {
    font-size: 18px;
    color: #5f5f5f;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 0px; }
  .bg-grey .infos_footer p {
    font-size: 14px;
    color: #9a9a9a; }
  .bg-grey .infos_footer h3 {
    font-size: 18px;
    color: #5f5f5f;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 0px; }
  .bg-grey .copyright {
    color: #5f5f5f;
    font-size: 12px; }
  .bg-grey .container {
    padding-top: 50px;
    color: #565656; }
    .bg-grey .container .row:first-child {
      height: 250px; }
    .bg-grey .container .row:nth-child(2) {
      color: #95abc0; }
  .bg-grey .best_menu {
    list-style: none;
    padding-left: 0; }
    .bg-grey .best_menu li img {
      width: 35px;
      height: 35px;
      background-color: #95abc0;
      border: none;
      float: left;
      margin-right: 18px; }
    .bg-grey .best_menu li p {
      float: left;
      margin-bottom: 0px; }
    .bg-grey .best_menu li ul {
      margin: 0px;
      padding: 0px; }
    .bg-grey .best_menu li a {
      color: #9a9a9a;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold; }
  .bg-grey .Categories {
    list-style: none;
    padding: 0; }
    .bg-grey .Categories li {
      margin-bottom: 5px; }
      .bg-grey .Categories li a {
        color: #9a9a9a; }
  .bg-grey .glyphicon-star-off {
    color: #c7c7c7 !important; }
  .bg-grey .newsletter .news_images {
    display: inline-flex;
    padding: 0; }
    .bg-grey .newsletter .news_images li {
      width: 35px;
      height: 35px;
      background-color: #f32063;
      border-radius: 200px;
      list-style: none;
      margin-right: 10px; }
  .bg-grey .newsletter h4 {
    font-size: 18px;
    color: #5f5f5f;
    margin-bottom: 10px;
    font-weight: bold; }
  .bg-grey .newsletter p {
    display: flex;
    margin-top: 8px;
    color: #9a9a9a; }
  .bg-grey .newsletter input {
    border: none;
    height: 32px;
    background-color: #9a9a9a;
    border-radius: 4px;
    padding: 0px 10px;
    color: #fff;
    font-style: italic; }
  .bg-grey .newsletter a {
    border: none;
    padding: 3px 12px 3px 12px;
    background-color: #f32063;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 7px 14px;
    margin-left: 6px; }
  .bg-grey .newsletter a:hover {
    background-color: #5f5f5f; }

.bg-dark {
  position: relative;
  background-color: #5f5f5f;
  max-width: 100%;
  height: 65px;
  padding: 25px 0px; }
  .bg-dark .container .row .mentions_legales {
    height: 32px;
    margin: 0px;
    padding: 0px; }
    .bg-dark .container .row .mentions_legales li {
      float: left;
      list-style: none;
      margin-right: 20px; }
      .bg-dark .container .row .mentions_legales li a {
        color: #fff;
        font-size: 12px; }
  .bg-dark .container .row .paiement {
    height: 32px;
    float: right; }
    .bg-dark .container .row .paiement li {
      float: left;
      list-style: none;
      margin-left: 16px; }

body .container-fluid.compte {
  background-color: #f7f8fa;
  padding-top: 25px;
  padding-bottom: 25px;
  height: auto;
  padding-right: 242px;
  padding-left: 242px;
  max-width: 100% !important; }

body .container-fluid.compte .compte_etape1, body .container-fluid.compte .compte_etape2, body .container-fluid.compte .compte_etape3 {
  padding: 35px;
  background-color: #ffffff;
  border: 1px solid #adadad;
  margin-bottom: 35px !important; }

body .container-fluid.compte .compte_etape1 .compte_head, body .container-fluid.compte .compte_etape2 .compte_head, body .container-fluid.compte .compte_etape3 .compte_head {
  border-bottom: 1px solid black;
  padding-bottom: 10px; }

body .container-fluid.compte .compte_etape1 .form-horizontal, body .container-fluid.compte .compte_etape2 .form-horizontal, body .container-fluid.compte .compte_etape3 .form-horizontal {
  padding-top: 35px;
  padding-bottom: 30px; }

body .container-fluid.compte .compte_etape1 .form-horizontal .control-label, body .container-fluid.compte .compte_etape2 .form-horizontal .control-label, body .container-fluid.compte .compte_etape3 .form-horizontal .control-label {
  text-align: left; }

body .container-fluid.compte .compte_etape1 .form-horizontal .input-md, body .container-fluid.compte .compte_etape2 .form-horizontal .input-md, body .container-fluid.compte .compte_etape3 .form-horizontal .input-md {
  background-color: #f7f8fa;
  border-radius: 3px; }

body .container-fluid.compte .compte_etape1 .form-horizontal .mail_input, body .container-fluid.compte .compte_etape1 .form-horizontal .ville_input, body .container-fluid.compte .compte_etape2 .form-horizontal .mail_input, body .container-fluid.compte .compte_etape2 .form-horizontal .ville_input, body .container-fluid.compte .compte_etape3 .form-horizontal .mail_input, body .container-fluid.compte .compte_etape3 .form-horizontal .ville_input {
  display: inline-flex; }

body .container-fluid.compte .compte_etape1 .form-horizontal .mail_input input, body .container-fluid.compte .compte_etape2 .form-horizontal .mail_input input, body .container-fluid.compte .compte_etape3 .form-horizontal .mail_input input {
  width: 250px; }

body .container-fluid.compte .compte_etape1 .form-horizontal .mail_input input:first-child, body .container-fluid.compte .compte_etape2 .form-horizontal .mail_input input:first-child, body .container-fluid.compte .compte_etape3 .form-horizontal .mail_input input:first-child {
  margin-right: 25px; }

body .container-fluid.compte .compte_etape1 .form-horizontal .ville_input input:first-child, body .container-fluid.compte .compte_etape2 .form-horizontal .ville_input input:first-child, body .container-fluid.compte .compte_etape3 .form-horizontal .ville_input input:first-child {
  width: 170px;
  margin-right: 30px; }

body .container-fluid.compte .compte_etape1 .form-horizontal .ville_input input:nth-child(2), body .container-fluid.compte .compte_etape2 .form-horizontal .ville_input input:nth-child(2), body .container-fluid.compte .compte_etape3 .form-horizontal .ville_input input:nth-child(2) {
  width: 70px; }

body .container-fluid.compte .compte_etape2 div:nth-child(2), body .container-fluid.compte .compte_etape3 div:nth-child(2) {
  display: flex; }

body .container-fluid.compte .compte_etape2 div:nth-child(2) ul, body .container-fluid.compte .compte_etape3 div:nth-child(2) ul {
  list-style: none;
  padding-top: 20px; }

body .container-fluid.compte .compte_etape2 li label, body .container-fluid.compte .compte_etape3 li label {
  margin-left: 6px;
  top: -6px;
  position: relative; }

body .container-fluid.compte .conditions_bandeau {
  padding-left: 0 !important; }

body .container-fluid.compte .conditions_bandeau .create {
  background-color: #738ba3;
  color: white;
  padding: 12px 20px 12px 20px;
  margin-right: 30px;
  text-decoration: none; }

body .container-fluid.compte .conditions_bandeau .annuler {
  background-color: #d0d0d0;
  color: white;
  padding: 12px 20px 12px 20px;
  text-decoration: none; }

@media screen and (min-width: 100px) and (max-width: 1024px) {
  body .container-fluid, body .compte {
    padding: 0 !important; } }
body div {
  margin: 0px; }

body .fullDiv {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  max-width: none !important;
  background-color: #eeeeee;
  padding-top: 30px !important; }

body .fullDiv .retour {
  margin-bottom: 20px !important;
  padding: 5px;
  border: 1px grey solid;
  border-radius: 3px;
  background-color: white;
  display: inline-block;
  cursor: pointer; }

body .fullDiv .retour a {
  color: grey; }

body .fullDiv .retour:hover a {
  text-decoration: none; }

body .fullDiv .article {
  background-color: white;
  color: black;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px; }

body .fullDiv .article h1 {
  margin: 0 !important;
  margin-bottom: 30px !important; }

body .fullDiv .article .bar {
  border-bottom: 1px #9f9f9f solid;
  margin-top: 20px;
  margin-bottom: 20px; }

body .fullDiv .article .auteur {
  background-color: #eeeeee;
  padding: 30px; }

body .fullDiv .article .auteur p {
  margin-bottom: 0px;
  display: inline-block;
  width: 100%; }

body .fullDiv .article .auteur .imgProfil {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 20px; }

body .fullDiv .commentaire {
  background-color: white;
  color: black;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px; }

body .fullDiv .commentaire h3 {
  margin-bottom: 50px; }

body .fullDiv .commentaire .commentaireShow {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px #eeeeee solid; }

body .fullDiv .commentaire .commentaireShow .imgProfil {
  width: 40px;
  height: 40px; }

body .fullDiv .commentaire .writeCommentaire {
  margin-bottom: 30px; }

body .fullDiv .commentaire .writeCommentaire .zoneCommentaire {
  border-color: grey;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%; }

body .fullDiv .commentaire .writeCommentaire .send {
  margin-top: 5px;
  border: none;
  padding: 5px;
  float: right;
  color: white;
  background-color: #778BA3; }

body .fullDiv .pub {
  background-color: red;
  padding: 20px;
  margin-bottom: 30px;
  color: black; }

body .fullDiv .pub {
  background-color: red; }

body .panier {
  background-color: #F6F9FA; }

body .panier .container h1 {
  color: black; }

body .panier .container .sousMenu {
  border: 1px #eee solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 10px;
  margin-top: -25px;
  background-color: white; }

body .panier .container .imgSousProduit {
  height: 100px;
  width: 100%; }

body .panier .container .commande {
  padding-left: 60px;
  padding-right: 60px; }

body .panier .container .commande .total {
  float: right; }

body .panier .container .commande h4 {
  color: black; }

body .panier .container .commande .bar {
  border-bottom: 1px #929292 solid;
  margin-bottom: 10px; }

body .panier .container .commande .commander {
  color: white;
  background-color: #CF2861;
  text-align: center;
  padding: 10px;
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 10px; }

body .panier .container .commande .continue {
  color: white;
  background-color: #939495;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  height: 40px; }

body .panier .container .produit {
  color: black;
  border: 1px #eee solid;
  padding: 20px;
  margin-bottom: 20px !important;
  background-color: white;
  height: 140px;
  border-radius: 5px; }

body .panier .container .produit h5 {
  margin: 7px; }

body .panier .container .produit h4 {
  margin: 7px; }

body .panier .container .produit .imgProduit {
  margin-right: 10px;
  border: 1px #eee solid;
  width: 160px;
  height: 100px;
  float: left;
  border-radius: 5px; }

body .panier .container .produit .divQuantite {
  padding-top: 35px; }

body .panier .container .produit .divQuantite .quantite {
  background-color: #F6F9FA;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px; }

body .panier .container .produit .divPrix {
  padding-top: 15px; }

body .panier .container .produit .divDelete {
  font-size: 30px;
  padding-top: 28px; }

body .Filtre {
  padding: 0 !important; }

body .Filtre .filtre_menu {
  list-style: none;
  display: inline-flex;
  margin-bottom: 0 !important;
  padding: 0 180px 0 180px;
  height: 50px;
  border-top: 1px solid #929292;
  width: 100%;
  border-bottom: 1px solid #929292; }

body .Filtre ul form {
  border-top: none !important; }
  body .Filtre ul form li:nth-child(3) i {
    color: #929292; }
  body .Filtre ul form li:nth-child(3) a {
    text-decoration: none;
    color: #929292; }

@media screen and (max-width: 767px) {
  body .Filtre .filtre_menu {
    padding: 0;
    height: auto;
    display: block;
    text-align: center;
    background-color: #ffffff; } }
@media screen and (min-width: 768px) {
  body .Filtre .filtre_menu {
    padding: 0;
    background-color: #ffffff; }
    body .Filtre .filtre_menu form {
      padding: 0; }
      body .Filtre .filtre_menu form li:nth-child(4) {
        width: 500px;
        padding: 15px 0 0 0; }
        body .Filtre .filtre_menu form li:nth-child(4) input {
          float: left; }
        body .Filtre .filtre_menu form li:nth-child(4) label {
          float: left;
          font-size: 12px; }
      body .Filtre .filtre_menu form li:nth-child(5) {
        padding: 10px 10px 0 0; } }
body .Filtre .filtre_menu li:first-child, body .Filtre .filtre_menu li:nth-child(2) {
  border-left: 1px solid #cacaca;
  display: flex; }

body .Filtre .filtre_menu li:first-child select, body .Filtre .filtre_menu li:nth-child(2) select {
  border: none;
  padding: 12px; }

@media screen and (max-width: 767px) {
  body .Filtre .filtre_menu li:first-child select, body .Filtre .filtre_menu li {
    border-left: none !important; }

  body .Filtre .filtre_menu li:first-child select, body .Filtre .filtre_menu li select {
    width: 100%; }

  body .Filtre .filtre_menu li input[type="submit"] {
    margin: 10px;
    background: grey;
    border: none;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    border-radius: 5px; } }
body .Filtre .filtre_menu li:first-child select .type_select, body .Filtre .filtre_menu li:nth-child(2) select .type_select {
  padding: 15px; }

body .Filtre .filtre_menu li:nth-child(3) {
  width: 100%;
  padding: 12px 0 0 20px;
  border-left: 1px solid #cacaca;
  line-height: 2;
  cursor: pointer; }

body .Filtre .filtre_menu li:nth-child(3) i {
  margin-right: 8px; }

body .Filtre .filtre_menu li:nth-child(3) span a {
  text-decoration: none;
  color: #929292; }

body .Filtre .filtre_menu li:last-child {
  padding: 12px;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  width: 165px; }

body .Filtre .filtre_menu li:last-child label {
  width: 95px;
  font-size: 9px;
  font-weight: 100; }

body .blogContent {
  margin-left: 0 !important; }

@media (max-width: 767px) {
  .plats_semaine {
    width: 100% !important; }

  .addToCart {
    padding: 8px 22px !important; } }
.plats_semaine {
  width: 80%; }
  .plats_semaine .showPlatSemaine, .plats_semaine .actualite {
    margin-top: 30px; }
    .plats_semaine .showPlatSemaine .titleCat, .plats_semaine .actualite .titleCat {
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      color: #4a4a4a; }
    .plats_semaine .showPlatSemaine .pictoHP, .plats_semaine .actualite .pictoHP {
      width: 22px;
      transform: rotate(15deg); }
    .plats_semaine .showPlatSemaine .subTitleCat, .plats_semaine .actualite .subTitleCat {
      margin-bottom: 30px; }
  .plats_semaine .full_a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 40;
    background-color: red; }
    .plats_semaine .full_a .showAHover {
      display: none; }
  .plats_semaine .full_a:hover .showAHover {
    display: block;
    background-color: rgba(0, 0, 0, 0.6); }
  .plats_semaine .full_a:hover p {
    color: #fff; }
  .plats_semaine .showPlat {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    margin-bottom: 30px;
    display: block;
    height: 380px;
    background-color: white; }
    .plats_semaine .showPlat .showBreakzone {
      width: 100%;
      height: 361px;
      background-color: red;
      border-radius: 4px;
      display: block; }
    .plats_semaine .showPlat .showImgPlat .imgPlat {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      height: 220px;
      width: 100%; }
    .plats_semaine .showPlat .showImgPlat .addToCart {
      float: right;
      position: relative;
      margin-top: -15px;
      margin-right: 16px;
      padding: 8px 12px;
      background-color: #5f5f5f;
      font-size: 14px;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      margin-left: 65%;
      display: inline; }
    .plats_semaine .showPlat .showImgPlat .addToCart:hover {
      text-decoration: none;
      background-color: #f50f65; }
    .plats_semaine .showPlat .showDescPlat {
      height: 100% !important;
      padding: 16px; }
      .plats_semaine .showPlat .showDescPlat .plusActu {
        width: 100%;
        background-color: #4a4a4a;
        color: white;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        text-decoration: none;
        font-size: 14px; }
      .plats_semaine .showPlat .showDescPlat .plusActu:hover {
        background-color: #f50f65; }
      .plats_semaine .showPlat .showDescPlat .noMargin {
        text-align: left; }
      .plats_semaine .showPlat .showDescPlat .typeProduct {
        margin: 0px;
        font-size: 12px;
        color: #9a9a9a;
        text-transform: uppercase; }
      .plats_semaine .showPlat .showDescPlat .titleProduct {
        padding: 0px;
        color: #5f5f5f;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        margin: 0px;
        text-transform: uppercase; }
      .plats_semaine .showPlat .showDescPlat .dispoProduct {
        margin-top: 10px;
        width: 6px;
        height: 6px;
        display: block; }
      .plats_semaine .showPlat .showDescPlat .prixProduct {
        padding-top: 7px;
        font-size: 18px;
        color: #5f5f5f;
        font-weight: bold;
        float: right;
        display: inline-block;
        margin-right: 16px; }
      .plats_semaine .showPlat .showDescPlat .descProduit {
        padding: 0px;
        font-size: 14px;
        margin-top: 10px;
        color: #9a9a9a; }

body .blogContent .blogArticle {
  padding: 0; }
  body .blogContent .blogArticle .blocArticle {
    height: 144px;
    margin: 20px 0 20px 0;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2px;
    padding-left: 0; }
    body .blogContent .blogArticle .blocArticle .showArticle {
      display: inline-flex; }
      body .blogContent .blogArticle .blocArticle .showArticle .showImgArticle img {
        border-radius: 5px;
        overflow: hidden;
        height: 142px; }
      body .blogContent .blogArticle .blocArticle .showArticle .showImgArticle p {
        height: 142px;
        padding: 47px; }
      body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle {
        display: inline-flex;
        padding: 0 0px 0px 10px; }
        body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle p {
          margin-bottom: 0; }
        body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle .numArticle {
          margin-top: 7vh; }
        body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle .detailArticle {
          display: flex;
          padding-left: 10px;
          text-align: center; }
          body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle .detailArticle h4 {
            margin-top: 6vh;
            max-width: 150px;
            margin-bottom: 0; }
          body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle .detailArticle p {
            width: 185px;
            overflow: hidden;
            height: 15vh;
            white-space: pre-wrap;
            margin-bottom: 8vh;
            margin-top: 3vh;
            text-align: center; }
          body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle .detailArticle .openArticle {
            margin-top: 10vh;
            height: 30px;
            width: 150px;
            float: none;
            background-color: #4a4a4a;
            color: white;
            border-radius: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            text-decoration: none; }
    @media screen and (max-width: 1200px) {
      body .blogContent .blogArticle .blocArticle .showArticle {
        display: block; }
        body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle {
          display: block; }
          body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle .detailArticle {
            display: block;
            padding-bottom: 15px; }
            body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle .detailArticle h4 {
              max-width: 100%; }
            body .blogContent .blogArticle .blocArticle .showArticle .showDescArticle .detailArticle p {
              width: auto; } }
  @media screen and (max-width: 1200px) {
    body .blogContent .blogArticle .blocArticle {
      width: 45%;
      margin-right: 30px;
      height: auto;
      padding: 0; }
      body .blogContent .blogArticle .blocArticle .showArticle .showImgArticle img {
        width: 100%; }
      body .blogContent .blogArticle .blocArticle .showArticle .showImgArticle p {
        text-align: center; } }
  @media screen and (max-width: 814px) {
    body .blogContent .blogArticle .blocArticle {
      width: 100%; }
      body .blogContent .blogArticle .blocArticle .showArticle .showImgArticle img {
        height: 200px; } }

body .Blog-droite {
  float: right;
  top: 40px;
  margin-bottom: 30px; }
  body .Blog-droite input {
    border: none;
    padding: 10px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0px; }
  body .Blog-droite img {
    width: 100%; }
  body .Blog-droite ul {
    list-style: none;
    padding: 0; }

@media (max-width: 670px) {
  .bg-grey .container {
    width: 100%; }

  .bg-dark .container {
    width: 100%;
    padding: 0px; }

  .hideMobile {
    display: none !important; }

  .Bandeau div a {
    display: block; }

  .Bandeau div {
    text-align: center;
    margin-left: 7%; }

  .Bandeau h1 {
    margin-top: 50px; }

  .pointRelais {
    margin-top: 50px !important; } }
.pointRelais {
  margin-top: 200px;
  height: 200px;
  background: url("../img/texture_legumes.jpg");
  margin-top: 100px; }
  @media (max-width: 670px) {
    .pointRelais .hideMobile {
      display: none !important; }
    .pointRelais .imgBag {
      display: none; }
    .pointRelais .title_point_relais {
      margin-left: 0px !important; }
    .pointRelais .pointRelaisDiv p {
      margin-left: 0px !important; }
    .pointRelais .pointRelaisDiv {
      width: 100% !important; }
    .pointRelais .inputRelais {
      margin-left: 0px !important; } }
  @media screen and (min-width: 671px) {
    .pointRelais .imgBag {
      display: block;
      float: left;
      height: 220px;
      margin-top: -40px;
      float: left; } }
  .pointRelais .inputRelais {
    border: 1px #cacaca solid;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    margin-left: 50px; }
  .pointRelais .pointRelaisDiv {
    color: #5f5f5f;
    float: left;
    background-image: url("../img/flou.png");
    width: 400px;
    height: 200px; }
    .pointRelais .pointRelaisDiv .title_point_relais {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 40px;
      margin-left: 50px; }
    .pointRelais .pointRelaisDiv p {
      font-size: 16px;
      margin-left: 50px; }
  .pointRelais .textShadow {
    font-weight: 400;
    text-shadow: 0px 0px 30px white; }

.fonctionnement h2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #4a4a4a;
  margin-bottom: 30px; }
.fonctionnement h3 {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #4a4a4a;
  margin: 28px 0 10px 0; }
.fonctionnement .picto {
  height: 48px; }
.fonctionnement .text {
  text-align: center;
  font-size: 14px;
  color: #9a9a9a; }
.fonctionnement .espaceResp {
  margin-top: 30px;
  margin-bottom: 30px; }

.sliderQualite h2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #4a4a4a;
  margin-bottom: 30px; }
.sliderQualite p {
  font-size: 14px; }
@media screen and (max-width: 767px) {
  .sliderQualite .sliderLeft {
    display: none; } }
.sliderQualite .sliderLeft {
  background-image: url("../img/qualite_produit.jpg");
  float: left;
  height: 300px;
  background-size: cover; }
.sliderQualite .sliderRight {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
  text-align: center;
  float: left;
  height: 300px;
  background-color: white; }

.actualite h4 {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #4a4a4a;
  text-align: center; }
.actualite h5 {
  text-align: center;
  margin-bottom: 25px; }

body .menuGlobal {
  background-color: #eeeeee;
  padding-bottom: 50px; }

body .menuGlobal .titleMenu {
  padding-top: 40px;
  padding-bottom: 40px; }

body .menuGlobal .titleMenu h1 {
  color: #F50F65; }

@media (max-width: 767px) {
  body .menuGlobal .menu {
    width: 90%; } }
body .menuGlobal .menu {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px; }

@media (max-width: 767px) {
  body .menuGlobal .menu .marginResponsive {
    margin-bottom: 50px; } }
@media (max-width: 500px) {
  body .menuGlobal .menu .marginResponsive {
    margin-bottom: 50px; } }
body .menuGlobal .menu .boxShadow {
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

body .menuGlobal .menu .menuTotal {
  border-radius: 5px;
  height: 100%;
  padding-bottom: 17px; }

body .menuGlobal .menu .menuTotal .imgMenu {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

body .menuGlobal .menu .menuTotal .menuCorps {
  padding: 10px; }

body .menuGlobal .menu .menuTotal .noPadding {
  margin: 0px;
  padding-left: 10px; }

body .menuGlobal .menu .menuTotal .noPaddingPartir {
  margin: 0px;
  padding-left: 10px;
  margin-top: 20px; }

body .menuGlobal .menu .menuCommander {
  background-color: #F50F65;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: -5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

body .menuGlobal .menu .menuCommander a {
  color: white; }

body .menuGlobal .menu .menuCommander a:hover {
  text-decoration: none; }

body .recap .recap-banner {
  background: url(../img/bg_summary.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: center;
  padding-top: 4%; }

body .recap .recap-banner div {
  padding: 40px;
  margin-top: 2%; }

@media screen and (max-width: 1100px) {
  body .recap .recap-banner div {
    background: rgba(255, 255, 255, 0.82); } }
body .container {
  margin: 0 auto;
  width: 79%;
  float: none;
  clear: none; }

body .container .recap-content .livraison-type {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 0px 6px -1px;
  border-radius: 5px; }

body .container .recap-produits {
  padding-right: 0px;
  padding-left: 0px; }

body .container .recap-produits .commande-produits {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 6px -1px;
  border-radius: 5px; }

body .container .recap-produits .commande-produits img {
  width: 15vw;
  height: 90px;
  margin-right: 8px;
  border-radius: 5px;
  float: left; }

body .container .recap-produits .commande-produits h2, body .container .recap-produits .commande-produits p {
  margin: 0; }

@media screen and (max-width: 767px) {
  body .container .recap-produits .commande-produits img {
    width: 100%;
    height: 230px;
    margin-right: 8px;
    border-radius: 5px;
    float: none; } }
@media screen and (max-width: 480px) {
  body .container .recap-produits .commande-produits img {
    width: 100%;
    height: 160px;
    margin-right: 8px;
    border-radius: 5px;
    float: none; } }
body .container .recap-prix {
  margin-bottom: 100px; }

body .container .recap-prix .livraison-total {
  width: 40%; }

body .container .recap-prix .livraison-total span {
  clear: both;
  float: left; }

body .container .recap-prix .livraison-total p {
  float: right; }

body .container .recap-prix .livraison-total a {
  clear: both;
  float: left;
  color: white;
  background-color: #9a9a9a;
  padding: 10px 60px 10px 60px;
  text-align: center;
  width: 100%; }

body .container .recap-prix .livraison-total .prix-total {
  color: #484848;
  font-weight: bolder; }

@media screen and (max-width: 810px) {
  body .container .recap-prix .livraison-total {
    width: 100%; } }
.login {
  padding-top: 60px; }

@media (max-width: 992px) {
  .loginLeft {
    margin-left: 0% !important; } }
.loginLeft {
  margin-left: 4%;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  height: 380px;
  padding-top: 20px;
  background-color: white;
  border: 1px #CACACA solid; }

.loginRight {
  margin-bottom: 50px;
  height: 380px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  background-color: white;
  border: 1px #CACACA solid; }

.titleLogin {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px #CACACA solid;
  font-size: 24px;
  color: black;
  font-weight: 600; }

.loginInput {
  background-color: #F7F8FA;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px #cacaca solid; }

.loginPassword {
  margin-bottom: 30px; }

.loginSubmit:hover {
  text-decoration: none; }

.loginSubmit:hover {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F42063;
  border: 1px #F42063 solid;
  text-decoration: none;
  cursor: pointer; }

.loginSubmit {
  border: 1px #5F5F5F solid;
  width: 100%;
  height: 40px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #5F5F5F;
  cursor: pointer; }

.loginSubmitNew {
  padding-top: 110px; }

.overflowImg {
  overflow: hidden;
  height: 220px; }

/*# sourceMappingURL=styleFront.css.map */
