{% extends 'frontoffice/footer.html.twig' %}

{% block body %}
    <div id="content_site" class="c_s_center">
        {{ form_start(form) }}
        <input type="submit">
        {{ form_end(form) }}
    </div>
{% endblock %}