<img src="{{ asset("produits/" ~ produit.image) }}">
{{ produit.nom }}
{{ reponse }}

<a class="btn" data-dismiss="modal">Continuer mes achats</a>

<a class="btn" href="{{ path('index_panier') }}">Voir mon panier</a>