{% extends 'frontoffice/footer.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Toute l'actualité pour les amoureux de la cuisine</h2>
        <span>Recettes, conseils, astuces et tutoriel pour les grands et les petits !</span>

         <div class="col-lg-4 col-md-12 col-xs-12 Blog-droite">
            <p>Haec et huius modi quaedam innumerabilia ultrix facinorum impiorum bonorumque Haec et huius modi quaedam innumerabilia ultrix facinorum impiorum bonorumque Haec et huius modi quaedam innumerabilia ultrix facinorum impiorum bonorumque </p>

            <input type="search" name="blogSearch" placeholder="Rechercher une recette, une astuce...">

            <h4>Recette du moment</h4>

            <img src="" class="bestRecette">

            <h4>Catégories</h4>
            <ul>
                <li><a href="#">Catégorie 1</a></li>
                <li><a href="#">Catégorie 2</a></li>
                <li><a href="#">Catégorie 3</a></li>
                <li><a href="#">Catégorie 4</a></li>
            </ul>
        </div>

        <div class="row blogContent">
            <div class="col-lg-8 col-md-12 col-xs-12 blogArticle">
            {% for a in articles %}
                <div class="col-lg-12 col-md-6 col-sm-6 blocArticle">
                    <div class="showArticle">
                        <div class="showImgArticle">
                            {% if a.image == "" %}
                                <p>Aucune image</p>
                            {% else %}
                                <img class="img-responsive imgPlat" src=" {{ asset('articles/' ~ a.image ) }} ">
                            {% endif %}
                        </div>
                        <div class="showDescArticle">
                            <div class="row detailArticle">
                                <h4>{{ a.titre }}</h4>
                                <p>{{ a.contenu|striptags|slice(0,60) }}...</p>
                                <a href="{{ path('article_show',{'id' :a.id,'titre':a.titre}) }}" class="col-lg-8 col-md-12 col-xs-12 openArticle">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}        
            </div>
        </div>
    </div>
{% endblock %}
